@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');

/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}

::-webkit-scrollbar { 
  display: none; 
}

.container {
  height: 100vh;
  width: 100vw;
}

.section-title {
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}

#about .container,
#editor .container,
#contact .container {
  padding-top: 5vh;
}
/* End global styles */

/* Jumbo section */
#jumbo {
  position: relative;
  background-image: url('./img/jumbo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#jumbo .text-container {
  color: #eaeaea;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 10px;
  line-height: 1.8;
  animation: showTitle 2s;
}

#jumbo .text-container::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.123);
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.288);
  display: block;
  z-index: 1;
}

@keyframes showTitle {
  0% {
    opacity: 0;
    transform: translate(-50%, -60%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.page-title {
  font-family: 'Roboto Slab', serif;
  font-size: 60px;
  font-weight: 300;
}

.page-subtitle {
  font-size: 20px;
  color: #c9c9c9;
  font-family: 'Georgia', serif;
}
/* End jumbo section */

/* About section */
.img-container {
  display: flex;
  justify-content: center;
}

.about-card {
  margin: 5vw;
  /* padding: 50%; */
  line-height: 40vh;
  font-size: 20px;
  text-align: center;
  width: 300px;
  height: 300px;
  border: 3px solid black;
}

.about-card:hover {
  animation: sizeUpCard .1s ease-in;
  animation-fill-mode: forwards;
  cursor: pointer;
}

@keyframes sizeUpCard {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}

.submit {
  position: relative;
}

.submit:after {
  content: "";
  position: absolute;
  background-image: url('./img/submit.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  display: block;
  z-index: -1;
}

.review {
  position: relative;
}

.review:after {
  content: "";
  position: absolute;
  background-image: url('./img/review.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  display: block;
  z-index: -1;
}

.critique {
  position: relative;
}

.critique:after {
  content: "";
  position: absolute;
  background-image: url('./img/critique.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  display: block;
  z-index: -1;
}

/* End about section */

/* Editor section */
/* End editor section */

/* Contact section */
.form-container form {
  margin: 10vh auto;
  width: 30%;
  border: 3px solid black;
  padding: 10px;
}

.form-item {
  margin: 10px;
}

.form-item label,
.form-item input[type="text"],
.form-item input[type="email"],
.form-item input[type="submit"],
.form-item textarea
{
  display: block;
  width: 90%;
  padding: 5px;
  font-family: 'Arial', sans-serif;
}

.form-item input[type="text"],
.form-item input[type="email"],
.form-item input[type="submit"],
.form-item textarea
{
  font-size: 12px;
}
/* End contact section */