@media (max-width: 736px) {
  html {
    font-size: 31.25%;
  }

  .about,
  .editor {
    height: 100vh;
  }

  .contact {
    height: 80vh;
  }

  .container {
    width: 90%;
  }

  .header {
    &__logo {
      height: 6rem;

      &-box {
        top: 2rem;
        left: 2rem;
      }
    }

    &__text-box {
      width: 80%;
      top: 50%;
    }
  }

  .about {
    
    &__cards {
      margin-top: 4rem;
      display: block;
      width: 100%;

      &-title {
        margin-bottom: .4rem;
      }

      &--submit,
      &--review,
      &--critique {
        margin: auto;
        margin-bottom: 2rem;
        width: 80%;
      }
      
      &-text {
        width: 80%;
      }
    }
  }

  .editor {

    &-steps {

      &__card {
        width: 80vw;
      }
    }
  }
}

@media (orientation: landscape) and (max-height: 320px) {
  .about {
    height: auto;
    &__cards {
      margin-top: 1rem;
    }

    &-text {
      width: 100%;
    }
  }

  .editor {
    height: 100vh;

    &-steps {
      &__card {
        margin: 1rem 0;
      }
    }
  }

  .contact {
    height: 100vh;
  }
}